
html, body, #frameContainer, #frameContainer iframe {
  font-family: sans-serif;
  max-width: 1280px;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

